@import "../../responsive.scss";

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    width: 250px;
    background-color: #f5f7f9;
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
  }

  .sidebar.hidden {
    width: 0;
    overflow: hidden;
  }

  .logo {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  .menu li {
    padding: 1rem;
    border-bottom: 1px solid #1a252f;
  }

  .content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .toggle-button {
    align-self: flex-start;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .toggle-button:hover {
    background-color: #2980b9;
  }

  .topBar {
    display: flex;
    padding-right: 20px;
  }

  .content {
    flex-grow: 1;
    padding: 1rem;
  }
}
