@import "../../variables.scss";

.calendar-container {
  width: 100%;
  margin: 0 auto;
  padding: $padding-medium;
  background-color: $card-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .rbc-btn-group {
      button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        margin: 0 5px;
        border-radius: $border-radius-buttons;

        &:hover {
          background-color: $secondary-color;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .rbc-toolbar-label {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .rbc-calendar {
    .rbc-day-view {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .rbc-events-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }
}
