.newProject {
  .newProjectForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border: 1px solid #f5f7f9;
    border-radius: 5px;

    .name,
    .dates,
    .members,
    .status,
    .description {
      margin-bottom: 15px;
      width: 100%;
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #007bff;
        }
      }

      .error {
        background: red;
        color: white;
        font-size: 0.8rem;
        padding: 2px;
        border-radius: 2px;
      }
    }

    .dates {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .startDate,
      .dueDate {
        flex: 1;

        input {
          width: 100%;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    button {
      background: #333f50;
      color: white;
      padding: 15px 25px;
      border-radius: 5px;
      border: none;
      display: flex;
      gap: 40px;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #6a7380;
      }
    }
  }
}
