@import "./responsive.scss";

.layout {
  background: red;
  width: 100%;
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    background: rgb(214, 209, 209);
    max-width: 1280px;
  }

  @include md {
    background: rgb(201, 202, 201);
    max-width: 768;
  }

  @include sm {
    background: rgb(129, 129, 129);
    max-width: 640px;
  }
}
